@using PagedList;

@model IPagedList<WebSuiBeauty.Data.Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="margin-top:100px">
    <div class="container">
        <div class="row">
            <!-- start single product item -->
            @if (Model != null || Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    { Html.RenderPartial("_ProductPartial", item); }
                }
            }
            else
            {

                <h3>Không có sản phẩm nào phù hợp với từ khóa!</h3>
            }
            <!-- end start single product item -->

        </div>

    </div>
</body>

