
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="text-center" style="margin-top:100px">
    <h1 style="color: deeppink; margin-bottom: 50px">Cảm ơn bạn đã ủng hộ SuiBeauty!</h1>
    <a href="@Url.Action("Index","Home")" class="btn-success" style="padding:15px;color:white;border-radius:15px">MUA SẮM</a>
    <a href="@Url.Action("ListOrder","Order")" class="btn-primary" style="padding:15px;color:white;border-radius:15px;margin-left:20px">ĐƠN HÀNG</a>
</body>

